## WAP to imeplement the find method

In [ ]:
s= input("Enter string ")
tofind=input("Enter word which u need to find ")
ind=0
for i in s:
    if(i==tofind):
        print(ind)
        break
    ind+=1
else:
    print("-1")

## WAP to shift a number based on followin condition:
- input 12345
- shift 1 output=23451 
- shift 2 output=34512
- shift 3 output=45123
- shift 4 output=51234
- shift 5 output=12345
- shift >=6 output=54321

In [ ]:
def shifting(number,shift):
    strnumber =str(number)
    digits=len(strnumber)
    
    if shift>number:
        result= strnumber[::-1]
    else:
        result=strnumber[shift:] +strnumber[:shift]
    return int(result)

## Wap to convert first and last character of a word in a given string to upper case
- this is python
- ThiS IS PythoN

In [ ]:
str2="this is python"
str3=str2.title()
print(str3)
str4=str3.split(" ")
for i in str4:
    print(i,end=" ")

In [ ]:
mystring="this is python"
s=mystring.title()
m=s.split()
print(m)
new=''
for i in m:
    new = new +i[:-1]+i[-1].upper()+" "
print(new)

## Password

In [ ]:
password="hello7446"
broke=False
valid=False
if(len(password)<8):
    broke=True
if(password.contains)
for i in password:
    if (i>='a' and i<='z'):
        valid=True
    elif (i>='A' and i<='Z'):
        valid=True
    elif (i>='0' and i<='9'):
        valid=True
    elif (i=="_" or i=="@" or i=="$"):
        valid=True
    else:
        broke=True
        break
                 
if(broke==True):
    print("Not valid")
else:
    print("True")

In [14]:
str1='1+2+1+1+3+3+4+5+2'
s=str1.split('+')
s.sort()
print(s)
for i in s:
    print(i,end="+")

['1', '1', '1', '2', '2', '3', '3', '4', '5']
1+1+1+2+2+3+3+4+5+

## WAP to check if two string are balanced
- eg string s1 and s2 are balanced if all the character of s1 are in s2 reagrdless of position
- lk and ljku  output:string are balanced

In [24]:
s1='ljku'
s2='lk'
a=len(s1)
b=len(s2)
valid=True
if a>b:
    for i in s2:
        if s2.find(i)==-1:
            valid=False
    if valid:
        print("yes")
    else:
        print("false")
if a<b:
    for i in s1:
        if s2.find(i)==-1:
            valid=False
    if valid:
        print("yes")
    else:
        print("false")

yes

## TUPLES
- tuple is an immutable ordered sequence which suports hetrogenous,indexing,slicing and iterations

### Cretaing a tuple

In [8]:
t=(1,"hi",[1,2,3],None)
t=()
type(t)

tuple

In [10]:
t=('hi')
print(type(t))
t=(5)
print(type(t))
t=('hi',)
print(type(t))

<class 'str'>
<class 'int'>
<class 'tuple'>

### ZIPING

In [12]:
t1=(1,2,3)
t2=(4,5,6,7)
t=zip(t1,t2)
print(t)
t=tuple(zip(t1,t2))
print(t)

<zip object at 0x000001E68EDE0A40>
((1, 4), (2, 5), (3, 6))

### PACKING AND UNPACKING

In [13]:
a=1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [14]:
m,n,o,p=a
print(m,n,o,p)

1 2 3 4

### TAKING INPUT FROM THE USER

In [15]:
tuple1=eval(input("Enter number sperated by comma"))
print(tuple1)
print(type(tuple1))

Enter number sperated by comma1,2,3,4,5
(1, 2, 3, 4, 5)
<class 'tuple'>

### Type conversion

In [16]:
s="hello"
t=tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [17]:
l=[2,3,4]
t=tuple(l)
print(t)

(2, 3, 4)

## + and *

In [24]:
t1=(1,2,3)
t2=(4,5,6)
#t1*t2 will give error
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### MEMBERSHIP OPERATOR

In [26]:
8 in (7,8,9) 
9 not in (5,6,7)

True

## Iterating through tuple

In [27]:
t=(4,5,6)
for i in t:
    print(t)

(4, 5, 6)
(4, 5, 6)
(4, 5, 6)

In [28]:
t=(4,5,6)
for i in t:
    print(i)

4
5
6

In [29]:
for i,j in enumerate(t):
    print(i,j)

0 4
1 5
2 6

## Comparing tuples

In [30]:
(1,2,3)==(2,3,1)

False

In [40]:
(1,3,4)<(1,3,4)

False

In [32]:
(1,2,'a')<(1,2,'A')

False

In [33]:
(1,2,'a')<('a',2,'A')

TypeError: '<' not supported between instances of 'int' and 'str'

## UNIVERSAL METHOD
- len,min,max,sum,sorted

In [39]:
t=(8,5,9,1,6,2,3,4)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))

8
1
9
38
[1, 2, 3, 4, 5, 6, 8, 9]

In [47]:
t=("python","cat","there","java")
sorted(t)
sorted(t,key=len,reverse=True)

['python', 'there', 'java', 'cat']

In [68]:
t=(6,5,4,5,7,4,4)
t.count(4) # calculate the occurence
# t.count(4,5)  --> ERROR
#count() of string can have start and end index but the count() of tuple do not contain start and end index

3

In [70]:
print(t)
t.index(4,1,6)

(6, 5, 4, 5, 7, 4, 4)

2

## Generator
- genrator function lazily execute the code block and store hte iterable and provide the element on demand if the element

## WAP to return max even number from a given tuple
- input (8,7,2,3,4,5,100,3,56)
- output 100

In [74]:
def maximum1(t):
    max1=0
    for i in t:
        if i%2==0 and i>max1:
            max1=i
    print(max1)

In [77]:
t=(1,2,8,100,101)
maximum1(t)

100

In [79]:
t=max(i for i in(1,4,66,100,101) if i%2==0)
print(t)

100

## PB 314 
- letter and shift

In [119]:
s="ABCDEFZY"
print(s)
shift=3
for i in s:
    m=ord(i)+shift
    if(m>=87):
        m2=chr(65+shift-1)
    else:
        m2=chr(m)
    print(m2,end="")

ABCDEFZY
DEFGHICC

## WAP to replace special symbol in a given string with '#'

In [145]:
str1="abc5@a#c$e"
str2 =''
for i in str1:
    if ((ord(i)>=65 and ord(i)<=90) or (ord(i)>=97) and (ord(i)<=122) or (ord(i)>=49) and (ord(i)<=57)):
        i=i
    else:
        i='#'
    str2=str2+i
print(str2)

abc5#a#c#e

In [139]:
import string
s=input("Enter string-")
for i in string.punctuation:
    s=s.replace(i,"#")
print(s)

Enter string-ab%^2edw
ab##2edw

## WAP to find the sum of -ve number in a given tuples

In [153]:
t=sum(i for i in(1,-4,-66,100,101) if i<0)
print(t)

-70